{{ define "main" }}
  <section class="intro prose">
    {{ .Content }}
  </section>

  {{ with site.GetPage "/projects" }}
    {{ partial "featured-section.html" (dict
      "id" "featured-projects"
      "title" "Projects"
      "pages" (where .RegularPages.ByWeight "Params.featured" true)
    ) }}
  {{ end }}

  {{ with site.GetPage "/blog" }}
    {{ partial "featured-section.html" (dict
      "id" "featured-blog"
      "title" "Blog Posts"
      "pages" (where .RegularPages.ByDate.Reverse "Params.featured" true)
    ) }}
  {{ end }}
{{ end }}
