{{ define "main" }}
  <section class="intro prose">
    {{ .Content }}
  </section>

  {{ with site.GetPage "/projects" }}
    {{ partial "featured-section.html" (dict
      "id" "featured-projects"
      "title" "Projects"
      "pages" (where .RegularPages.ByWeight "Params.featured" true)
      "useSummary" false
      "indexURL" .RelPermalink
      "indexLabel" "All projects"
    ) }}
  {{ end }}

  {{ with site.GetPage "/writing" }}
    {{ partial "featured-section.html" (dict
      "id" "featured-writing"
      "title" "Blog Posts"
      "pages" (where .RegularPages.ByDate.Reverse "Params.featured" true)
      "useSummary" true
      "indexURL" .RelPermalink
      "indexLabel" "All writing"
    ) }}
  {{ end }}
{{ end }}
