{{ define "main" }}
  {{ with .Content }}
    <header class="page-header prose">
      {{ . }}
    </header>
  {{ end }}

  {{ $pages := .Pages }}
  {{ if eq .Section "blog" }}
    {{ $pages = .Pages.ByDate.Reverse }}
  {{ else }}
    {{ $pages = .Pages.ByTitle }}
  {{ end }}

  {{ with $pages }}
    {{ if eq $.Section "blog" }}
      <div class="entry-years">
        {{ range .GroupByDate "2006" }}
          <section class="entry-year" aria-labelledby="year-{{ .Key }}">
            <div class="year-heading">
              <h2 id="year-{{ .Key }}">{{ .Key }}</h2>
            </div>
            <div class="entry-list">
              {{ range .Pages }}
                {{ partial "entry.html" (dict
                  "page" .
                  "useSummary" true
                  "showDate" true
                ) }}
              {{ end }}
            </div>
          </section>
        {{ end }}
      </div>
    {{ else }}
      <div class="entry-list entry-list--index">
        {{ range . }}
          {{ partial "entry.html" (dict
            "page" .
            "useSummary" false
          ) }}
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
{{ end }}
